<div class="m-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <ng-container *ngIf="films$ | async as film">
      <div class="col-md-6 col-lg-4" *ngFor="let item of film">
        <div class="card c-card">
          <a (click)="open(item)" class="pointer">
            <ng-template
              appMovieCover
              [filmUrl]="item.url"
              [class]="'card-img-top'"
            ></ng-template>
          </a>
          <div class="card-body">
            <h5 class="card-title pointer" (click)="open(item)">{{ item.title }}</h5>
            <p class="card-text">
              Episode {{ item.episode_id | romanNumber }} / Director:
              {{ item.director }}
            </p>
          </div>
          <div class="card-footer text-center">
            <a [routerLink]="['/films', item.url.slice(item.url.length - 2, -1)]" class="btn btn-outline-light">
              <img
                src="assets/images/c3p0_icon-icons.com_76936.png"
                class=""
                alt="logo"
                height="35"
              />
              Characters
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
