<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="https://img.icons8.com/color/75/000000/star-wars.png" class="img-fluid" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/films" routerLinkActive="active" title="Films">
            <img src="assets/images/Death_Star_2nd_35408.png" class="" alt="logo" height="35">
            Films
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/characters" routerLinkActive="active" title="Characters">
            <img src="assets/images/ewok_icon-icons.com_76943.png" class="" alt="logo" height="30">
            Characters
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
