<div class="m-5">
  <div class="row justify-content-center">
    <ng-container *ngIf="film$ | async as film">
      <div class="col-md-12 col-xl-8">
        <div class="card c-card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <ng-template
                  appMovieCover
                  [filmUrl]="film.url"
                  [class]="'img-fluid w-75'"
                ></ng-template>
              </div>
              <div class="col-md-6">
                <h1>{{ film.title }}</h1>
                <p class="card-text">
                  Episode {{ film.episode_id | romanNumber }} / Director:
                  {{ film.director }}
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="eye">Eye color</label>
                      <select class="form-control" name="eye">
                        <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12 my-2">
                    <div class="form-group">
                      <label for="gender">Gender</label>
                      <select class="form-control" name="gender">
                        <option></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <app-character
    [characterData]="
      characterData | slice: (page - 1) * pageSize:page * pageSize
    "
    [collectionSize]="characterData.length"
    [page]="page"
    [pageSize]="pageSize"
    (selectedPage)="pageChange($event)"
  ></app-character>
</div>
