<div class="m-5">
  <div class="row justify-content-center">
    <ng-container *ngIf="film$ | async as film">
      <div class="col-md-12 col-lg-8 col-xl-6">
        <div class="card c-card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <a (click)="open(film)" class="pointer">
                  <ng-template
                    appMovieCover
                    [filmUrl]="film.url"
                    [class]="'img-fluid'"
                  ></ng-template>
                </a>
              </div>
              <div class="col-md-9">
                <h1>{{ film.title }}</h1>
                <p class="card-text">
                  Episode {{ film.episode_id | romanNumber }} / Director:
                  {{ film.director }}
                </p>

                <app-filters
                  [eyeColorData]="eyeColorData"
                  [genderData]="genderData"
                  [formDirection]="formDirection"
                  (selectedEye)="onChangeEye($event)"
                  (selectedGender)="onChangeGender($event)"
                ></app-filters>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <app-character
    [characterData]="
      characterData | slice: (page - 1) * pageSize:page * pageSize
    "
    [collectionSize]="characterData.length"
    [page]="page"
    [pageSize]="pageSize"
    (selectedPage)="pageChange($event)"
  ></app-character>
</div>
