<div class="row" *ngIf="filmData">
  <div class="col-12">
    <h1 class="text-warning">Filters</h1>
  </div>
</div>
<div class="row">
  <div [ngClass]="formDirection === 'inline' ? (filmData ? 'col-md-4' : 'col-md-6') : 'col-md-12'">
    <div class="form-group">
      <label for="eye">Eye color</label>
      <select
        class="form-control"
        name="eye"
        (change)="onChangeEye($event.target.value)"
      >
        <option *ngFor="let item of eyeColorData.sort()">
          {{ item | titlecase }}
        </option>
      </select>
    </div>
  </div>
  <div [ngClass]="formDirection === 'inline' ? (filmData ? 'col-md-4' : 'col-md-6') : 'col-md-12 my-3'">
    <div class="form-group">
      <label for="gender">Gender</label>
      <select
        class="form-control"
        name="gender"
        (change)="onChangeGender($event.target.value)"
      >
        <option *ngFor="let item of genderData.sort()">{{ item | titlecase }}</option>
      </select>
    </div>
  </div>
  <div *ngIf="filmData" [ngClass]="formDirection === 'inline' ? (filmData ? 'col-md-4' : '') : 'col-md-12 my-3'">
    <div class="form-group">
      <label for="film">Film</label>
      <select
        class="form-control"
        name="film"
        (change)="onChangeFilm($event.target.value)"
      >
        <option *ngFor="let item of filmData.sort()" [value]="item">{{ item | movieNameFromMovieUrl }}</option>
      </select>
    </div>
  </div>
</div>
